<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VMV_ADMISSIONConnectionString" connectionString="Data Source=localhost;Initial Catalog=lakshit_gvish_exam;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
    <!--<add name="VMV_ADMISSIONConnectionString" connectionString="Data Source=103.21.58.193;Initial Catalog=lakshit_gvish_exam;User ID=gvishexam;Password=aP^2ln22;Max Pool Size=50000;Pooling=True;"
      providerName="System.Data.SqlClient" />-->
    
    <!--<add name="VMV_EXAMConnectionString" connectionString="Data Source=.;Initial Catalog=VMV_EXAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    
    <!--<add name="VMV_EXAMConnectionString2" connectionString="Data Source=.;Initial Catalog=VMV_EXAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->

    <!--<add name="VMV_ADMISSIONConnectionString" connectionString="Data Source=WIN-OHS7MFHCJ71\SQLEXPRESS;Initial Catalog=lakshit_gvish_exam;User ID=sa;Password=hRRZ2LE7C2d8awMlEkpl;Max Pool Size=50000;Pooling=True;" providerName="System.Data.SqlClient" />-->
    <add name="VMV_ADMISSIONConnectionString_Admission" connectionString="Data Source=WIN-OHS7MFHCJ71\SQLEXPRESS;Initial Catalog=lakshit_gvish22_23;User ID=sa;Password=hRRZ2LE7C2d8awMlEkpl;Max Pool Size=50000;Pooling=True;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    <!--<add key="LIS" value="server=localhost;database=VMV_EXAM;Integrated Security=true"/>-->
    <!--<add key="LIS" value="Data Source=103.21.58.193;Initial Catalog=lakshit_gvish_exam;User ID=gvishexam;Password=aP^2ln22;Max Pool Size=50000" />-->

    <add key="LIS" value="Data Source=WIN-OHS7MFHCJ71\SQLEXPRESS;Initial Catalog=lakshit_gvish_exam;User ID=sa;Password=hRRZ2LE7C2d8awMlEkpl;Max Pool Size=50000;Pooling=True;" />
    <add key="LIS_ADMISSION" value="Data Source=WIN-OHS7MFHCJ71\SQLEXPRESS;Initial Catalog=lakshit_gvish22_23;User ID=sa;Password=hRRZ2LE7C2d8awMlEkpl;Max Pool Size=50000;Pooling=True;" />    
  </appSettings>
  <!--<location path="Admin/BSC/MeritList.aspx">-->
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<httpRuntime executionTimeout="5000"/>-->
    <sessionState timeout="120" />
    <machineKey validationKey="A6C2AD5F876A4A91253DE260EA2E5E6AE40BA6B4ED7515445A4CEFB4B8BE0B2AAFF8F15943C7565176DD8B57A75D3F80CA422171C0EEA432E0B0ECE0210A38A6" decryptionKey="979ECC1881E5B1BCB2B6B3AC6396A6799965A242BB5D8929" validation="SHA1" />
    <compilation targetFramework="4.5" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="http_to_https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
  <!--</location>-->
</configuration>