<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="VMV_ADMISSIONConnectionString" connectionString="Data Source=localhost;Initial Catalog=VMV_ADMISSION;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->

    <add name="VMV_ADMISSIONConnectionString" connectionString="Data Source=WIN-OHS7MFHCJ71\SQLEXPRESS;Initial Catalog=Laksh;User ID=sa;Password=hRRZ2LE7C2d8awMlEkpl;Max Pool Size=50000;Pooling=True;" providerName="System.Data.SqlClient" />
    
    
  </connectionStrings>
  <appSettings>
    <!--<add key="LIS" value="server=localhost;database=Laksh;Integrated Security=true"/>-->
    
    <add key="LIS" value="Data Source=WIN-OHS7MFHCJ71\SQLEXPRESS;Initial Catalog=Laksh;User ID=sa;Password=hRRZ2LE7C2d8awMlEkpl;Max Pool Size=50000;Pooling=True;" />
    
    
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off" />
    </system.web>
 

</configuration>
